@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Suporte:</strong>   <p>Suporte@wildsaver.com</p>
    <strong>Marketing:</strong> <p>Marketing@wildsaver.com</p>
    <strong>Sugestões:</strong> <p>Sugestoes@wildsaver.com</p>
</address>
