@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Conheça alguns animais ameaçados de extinção no Brasil</h1>
    <p class="lead">O Brasil é considerado um dos países mais ricos em biodiversidade. Porém, segundo o Ministério do Meio Ambiente e o Instituto Chico Mendes de Conservação da Biodiversidade existem mais de 1000 espécies de animais em risco de extinção no país.</p>
    <p><a href="https://www.todamateria.com.br/animais-em-extincao-no-brasil/" class="btn btn-primary btn-lg">Leia mais &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>21 espécies de plantas que ajudam a salvar as abelhas</h2>
        <p>
            As abelhas são responsáveis pela polinização das plantas, tarefa essencial para a produção de alimentos. Porém,
            devido à poluição, elas têm sido cada vez menos comuns, principalmente em áreas urbanas, 
            e uma das formas de reverter naturalmente este cenário é promovendo o plantio de plantas que as atraem.
        </p>
        <p><a class="btn btn-default" href="http://ciclovivo.com.br/planeta/meio-ambiente/21-especies-de-plantas-que-ajudam-a-salvar-as-abelhas/">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>